<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">  
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport"content="width=device-width"/>
	<title>Primeiro Teste</title>
	
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
	
</head>
<body>
	<div  class="card" style="margin: 10px">
		<div class="card-header">
			<h1 class="card-title">Edita Multa</h1>
		</div>
		<div class="card-body">
			<form class="form-inline" method="POST" th:object="${multaModel}" th:action="@{/multas}" style="margin: 20px 0"> 
				<div class="form-group">
					<input type="hidden" th:field="*{id}">
					<input type="text" class="form-control" placeholder="Ano" th:field="*{ano}"/>
					<input type="text" class="form-control" placeholder="Cidade" th:field="*{cidade}"/>
					<input type="text" class="form-control" placeholder="Placa do Carro" th:field="*{carro.placa}"/>
					<select class="form-control" th:field="*{infracao.id}">
						<option th:each="infracao : ${infracoes}" th:value="${infracao.id}" th:text="${infracao.descricao}"></option>
					</select>
					<button type="submit" class="btn btn-primary">
						Salvar
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>