<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport"content="width=device-width"/>
	<title>Primeiro Teste</title>
	
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
	
</head>
<body>
	<div th:insert="~{Menu :: menu}"></div>
	<div  class="card" style="margin: 10px">
		<div class="card-header">
			<h1 class="card-title">
				Lista de Infrações
				<a th:href="@{/logout}">Logout [<span sec:authentication="name"></span>]</a>
			</h1>
		</div>
		<div class="card-body">
			<form class="form-inline" method="POST" th:object="${infracaoModel}" th:action="@{/infracoes}" style="margin: 20px 0"> 
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}"/>
					<input type="text" class="form-control" placeholder="Pontos" th:field="*{pontos}"/>
					<input type="text" class="form-control" placeholder="Valor" th:field="*{valor}"/>
					<button type="submit" class="btn btn-primary">
						Salvar
					</button>
				</div>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Descrição</th>
						<th>Pontos</th>
						<th>Valor</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="infracao:${infracoes}">
						<td th:text="${infracao.id}"/>
						<td th:text="${infracao.descricao}"/>
						<td th:text="${infracao.pontos}"/>
						<td th:text="${infracao.valor}"/>
						<td> <a class="btn btn-primary" th:href="@{/edInfracao/{id} (id=${infracao.id})}">Editar</a></td>
						<td> <a class="btn btn-warning" th:href="@{/exxInfracao/{id} (id=${infracao.id})}">Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>























